form{
    background-color: aqua;
    height: 500px;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
}

input{
   border: 2px solid black;

}

.btn button{
    border: 2px solid black;
}

/* .btn{
    align-items: center;
} */